.vs/
/Dvojiska_drevesa/.vs/Dvojiska_drevesa/FileContentIndex/5aacb48c-fc5e-467e-9d4a-c8fe65a3178e.vsidx
/Dvojiska_drevesa/.vs/Dvojiska_drevesa/v17/.suo
/Dvojiska_drevesa/.vs/Dvojiska_drevesa/v17/DocumentLayout.json
/Dvojiska_drevesa/Projekt/bin/Debug/Projekt.exe
/Dvojiska_drevesa/Projekt/bin/Debug/Projekt.pdb
/Dvojiska_drevesa/Projekt/obj/Debug/Projekt.exe
/Dvojiska_drevesa/Projekt/obj/Debug/Projekt.pdb
/Dvojiska_drevesa/Projekt/obj/Debug/Projekt.csproj.GenerateResource.cache
/Dvojiska_drevesa/Projekt/obj/Debug/Projekt.csproj.FileListAbsolute.txt
/Dvojiska_drevesa/Projekt/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Dvojiska_drevesa/Projekt/obj/Debug/Projekt.csproj.GenerateResource.cache
/Dvojiska_drevesa/Projekt/Projekt_TemporaryKey.pfx
/Dvojiska_drevesa/Projekt/Projekt.csproj.user
